body {
    font-family: Arial, sans-serif;
    background-color: #a7bea2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .app-container {
    text-align: center;
  }
  